# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build artifacts
bin/
obj/

# Rider
.idea/

# OS files
Thumbs.db
Desktop.ini

# Dotnet publish
publish/

# Local settings
appsettings.*.json

# JetBrains
*.iml

# Visual Studio Code
.vscode/
